/*!
 * Copyright © 2018 Kristian Matthews. All rights Reserved.
 */

// Colors
$primary: #dc3545;
$secondary: #ffc107;

@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";

// Fonts
$font-family-serif: "Playfair Display", Georgia, "Times New Roman", serif;